@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", serif;
}

body {
  padding: 20px 0;
  text-align: center;
}

.container {
  width: 860px;
  max-width: 100%;
  height: 100%;
  margin: auto;
}

h1 {
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 12px;
}

h2 {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 12px;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

hr {
  margin: 30px auto;
}
